<body>
    <main class="content">
        <section class="hero">
            <h1>Welcome to the MADOC Hockey League!</h1>
            <p>Get the latest news, scores, and updates about your favorite teams.</p>
        </section>
        <section class="feed">
            <div class="news-cards feed-item feed-item-news">
                <h2 class="card-title">Latest News</h2>
                @for (article of newsArticles; track article.id) {
                    <div class="news-card">
                        <h3>{{ article.title }}</h3>
                        <p class="news-date">{{ article.createdAt | date:'MMMM dd yyyy' }}</p>
                        <p class="news-summary">{{ article.summary }}</p>
                    </div>
                }
            </div>
            <div class="upcoming-cards feed-item feed-item-schedule">
                <h2 class="card-title">Upcoming Games</h2>

                @for (game of upcomingMatches; track game.id) {
                    <div class="upcoming-card">
                        <div class="game-time">{{ game.date | date:'MMM dd yyyy hh:mm a' }}</div>
                        <div class="teams">
                            <div class="team">
                                <a routerLink="['/teams', stripSpaces(game.homeTeam)]">
                                    <img [src]="'/assets/teamLogos/' + stripSpaces(game.homeTeam) + '.svg'" [alt]="game.homeTeam + ' Logo'" class="team-logo"/>
                                </a>
                                <span class="team-name centered">{{ game.homeTeam }}</span>
                            </div>
                            <span class="vs">vs</span>
                            <div class="team">
                                <a routerLink="['/teams', stripSpaces(game.awayTeam)]">
                                    <img [src]="'/assets/teamLogos/' + stripSpaces(game.awayTeam) + '.svg'" [alt]="game.awayTeam + ' Logo'" class="team-logo"/>
                                </a>
                                <span class="team-name centered">{{ game.awayTeam }}</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </main>
</body>