<div th:fragment="christmas-raffle-banner">
    <section class="hero" id="christmas-news" th:style="|background-image: url('@{/assets/Christmas-HighRes.jpg}');|">
        <h1>Christmas Raffle</h1>
        <p>The annual Christmas raffle is here!</p>
        <p>This year will have two draws.  The first prize is a $100 LCBO Gift Card, and the second is a Bottle (TBD)</p>
        <p>Get your tickets at the rink on December 21st!</p>
        <p>Tickets are 2 for $5 or 5 for $10</p>
    </section>
</div>
