<footer class="main-footer" th:fragment="footer" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
    <p th:text="'&copy; ' + ${#dates.year(#dates.createNow())} + ' Arc Software'">&copy; 2025 Arc Software</p>
    <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div>
            <span>Logged in as: </span>
            <span sec:authentication="name"></span>
        </div>
        <a th:href="@{/logout}">Logout</a>
    </div>
</footer>