<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6" lang="en">
<head>
    <title>MMHL</title>
    <link rel="icon" th:href="@{/assets/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/stats.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/game.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header.html :: header}"></div>
    <main class="content">
        <section id="gamesheet_header" class="hero">
            <h1 style="color: var(--text)" th:text="${gamesheet.homeTeam} + ' vs ' + ${gamesheet.awayTeam}">Home vs Away</h1>
            <h4 th:text="${#temporals.format(gamesheet.gameTime, 'MMMM d, yyyy hh:mm a')} + ' at ' + ${gamesheet.venue.name()}">Date at Location</h4>
            <div id="stats">
                <div style="color: var(--accent)">
                    <span style="margin-right: 2em" th:text="${gamesheet.homeTeam} + ': ' + ${utils.countGoals(gamesheet.homeGoals)}"></span>
                    <span th:text="${gamesheet.awayTeam} + ': ' + ${utils.countGoals(gamesheet.awayGoals)}"></span>
                </div>
                <div style="color: var(--accent)">
                    <span style="margin-right: 2em" th:text="${gamesheet.homeTeam} + ' PIMs: ' + ${utils.countPenaltyMinutes(gamesheet.homePenalties)}"></span>
                    <span th:text="${gamesheet.awayTeam} + ' PIMs: ' + ${utils.countPenaltyMinutes(gamesheet.awayPenalties)}"></span>
                </div>
            </div>
        </section>
        <section>
            <section id="gamesheet_summary" sec:authorize="isAnonymous() || !hasAnyRole('ROLE_[ADMIN]', 'ROLE_[LEAGUE_STAFF]', 'ROLE_[TIMEKEEPER]')">
                <div id="homeRoster">
                    <h3 th:text="${gamesheet.homeTeam}"></h3>
                    <table class="stats-table">
                        <thead>
                        <tr>
                            <th>Jersey</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="player : ${homeTeamPlayers}">
                            <td th:text="${player.jerseyNumber}"></td>
                            <td th:text="${player.fullName}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="awayRoster">
                    <h3 th:text="${gamesheet.awayTeam}"></h3>
                    <table class="stats-table">
                        <thead>
                        <tr>
                            <th>Jersey</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="player : ${awayTeamPlayers}">
                            <td th:text="${player.jerseyNumber}"></td>
                            <td th:text="${player.fullName}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <div id="gamesheet_form" sec:authorize="hasAnyRole('ROLE_[ADMIN]', 'ROLE_[LEAGUE_STAFF]', 'ROLE_[TIMEKEEPER]')">
                <form action="#" th:action="@{/games/{gameId}(gameId=${gamesheet.gameId})}" th:object="${gamesheet}" method="post" class="centered">
                    <div id="gamesheet_form_metadata">
                        <input type="hidden" th:field="*{gameId}"/>
                        <input type="hidden" th:field="*{gameTime}"/>
                        <input type="hidden" th:field="*{venue}"/>
                        <input type="hidden" th:field="*{seasonYear}"/>
                        <input type="hidden" th:field="*{seasonType}"/>
                        <input type="hidden" th:field="*{finalized}"/>

                        <input type="hidden" th:field="*{homeTeam}"/>
                        <input type="hidden" th:field="*{homeTeamId}"/>
                        <input type="hidden" th:field="*{awayTeam}"/>
                        <input type="hidden" th:field="*{awayTeamId}"/>
                    </div>

                    <div th:if="${#fields.hasErrors()}" style="margin: 1em">
                        <div th:each="error: ${#fields.errors()}">
                            <span th:text="${error}" style="color: #CC1919"></span>
                        </div>
                    </div>


                    <div id="update_buttons" th:if="${!gamesheet.finalized}">
                        <button type="submit" name="save">Save</button>
                        <button type="submit" name="finalize" onclick="return confirm('Are you sure you want to finalize the Gamesheet?  This cannot be undone');">Finalize</button>
                    </div>
                    <div sec:authorize="hasRole('ROLE_[ADMIN]')" style="margin-bottom: 2em; margin-top: 1em;">
                        <button type="submit" name="clear" onclick="return confirm('Are you sure you want to reset the Gamesheet?  This cannot be undone');">Reset Gamesheet</button>
                        <button th:if="${gamesheet.getFinalized()}" type="submit" name="unlock" onclick="return confirm('Are you sure you want to unlock the Gamesheet?  This cannot be undone');">Unlock Gamesheet</button>
                    </div>

                    <div id="addGoal" class="game-feed-item table-container" th:if="${!gamesheet.finalized}">
                        <h4>Add Goal</h4>
                        <table class="stats-table">
                            <thead>
                            <tr>
                                <th>Team</th>
                                <th>Scorer</th>
                                <th>Primary Assist</th>
                                <th>Secondary Assist</th>
                                <th>Goal Type</th>
                                <th>Period</th>
                                <th>Time</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    <select th:field="*{nextGoal.team}">
                                        <option th:value="${gamesheet.homeTeam}" th:text="${gamesheet.homeTeam}"></option>
                                        <option th:value="${gamesheet.awayTeam}" th:text="${gamesheet.awayTeam}"></option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" maxlength="2" th:field="*{nextGoal.goal.scorer}"/>
                                </td>
                                <td>
                                    <input type="text" maxlength="2" th:field="*{nextGoal.goal.assist1}"/>
                                </td>
                                <td>
                                    <input type="text" maxlength="2" th:field="*{nextGoal.goal.assist2}"/>
                                </td>
                                <td>
                                    <select th:field="*{nextGoal.goal.goalType}">
                                        <option th:each="type : ${goalTypes}"
                                                th:value="${type}"
                                                th:text="${type}"></option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" maxlength="1" th:field="*{nextGoal.goal.period}"/>
                                </td>
                                <td>
                                    <input type="text" maxlength="5" th:field="*{nextGoal.goal.time}"/>
                                </td>
                                <td>
                                    <button type="submit" name="addGoal" value="${nextGoal.team}">Add Goal</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="addPenalty" class="game-feed-item table-container" th:if="${!gamesheet.finalized}">
                        <h4>Add Penalty</h4>
                        <table class="stats-table">
                            <thead>
                            <tr>
                                <th>Team</th>
                                <th>Player</th>
                                <th>Minutes</th>
                                <th>Infraction</th>
                                <th>Period</th>
                                <th>Time</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    <select th:field="*{nextPenalty.team}">
                                        <option th:value="${gamesheet.homeTeam}" th:text="${gamesheet.homeTeam}"></option>
                                        <option th:value="${gamesheet.awayTeam}" th:text="${gamesheet.awayTeam}"></option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" maxlength="2" th:field="*{nextPenalty.penalty.jerseyNumber}"/>
                                </td>
                                <td>
                                    <input type="text" maxlength="2" th:field="*{nextPenalty.penalty.minutes}"/>
                                </td>
                                <td>
                                    <input type="text" maxlength="15" class="medium-input" th:field="*{nextPenalty.penalty.infraction}"/>
                                </td>
                                <td>
                                    <input type="text" maxlength="1" th:field="*{nextPenalty.penalty.period}"/>
                                </td>
                                <td>
                                    <input type="text" maxlength="5" th:field="*{nextPenalty.penalty.time}"/>
                                </td>
                                <td>
                                    <button type="submit" name="addPenalty" value="${nextPenalty.team}">Add Penalty</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="attendances" class="game-feed-item">
                        <div id="homeAttendance" class="game-feed-item-child">
                            <h3 th:text="${gamesheet.homeTeam}"></h3>
                            <table class="stats-table">
                                <thead>
                                <tr>
                                    <th>Played</th>
                                    <th>Jersey</th>
                                    <th>Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="player, rowStat : ${homeTeamPlayers}">
                                    <td>
                                        <input type="checkbox" th:field="*{homeAttendanceByPlayerId[__${rowStat.index}__].attended}" th:disabled="${gamesheet.finalized}"/>
                                        <input type="hidden" th:name="homeAttendanceByPlayerId[__${rowStat.index}__].playerName" th:value="${player.fullName}">
                                        <input type="hidden" th:name="homeAttendanceByPlayerId[__${rowStat.index}__].rosterId" th:value="${player.id}">
                                        <input type="hidden" th:name="homeAttendanceByPlayerId[__${rowStat.index}__].teamId" th:value="${player.teamId}">
                                        <input type="hidden" th:name="homeAttendanceByPlayerId[__${rowStat.index}__].gameId" th:value="${gamesheet.gameId}">
                                        <input type="hidden" th:name="homeAttendanceByPlayerId[__${rowStat.index}__].jerseyNumber" th:value="${player.jerseyNumber}">
                                    </td>
                                    <td th:text="${player.jerseyNumber}"></td>
                                    <td th:text="${player.fullName}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="awayAttendance" class="game-feed-item-child">
                            <h3 th:text="${gamesheet.awayTeam}"></h3>
                            <table class="stats-table">
                                <thead>
                                <tr>
                                    <th>Played</th>
                                    <th>Jersey</th>
                                    <th>Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="player, rowStat : ${awayTeamPlayers}">
                                    <td>
                                        <input type="checkbox" th:field="*{awayAttendanceByPlayerId[__${rowStat.index}__].attended}" th:disabled="${gamesheet.finalized}"/>
                                        <input type="hidden" th:name="awayAttendanceByPlayerId[__${rowStat.index}__].playerName" th:value="${player.fullName}">
                                        <input type="hidden" th:name="awayAttendanceByPlayerId[__${rowStat.index}__].rosterId" th:value="${player.id}">
                                        <input type="hidden" th:name="awayAttendanceByPlayerId[__${rowStat.index}__].teamId" th:value="${player.teamId}">
                                        <input type="hidden" th:name="awayAttendanceByPlayerId[__${rowStat.index}__].gameId" th:value="${gamesheet.gameId}">
                                        <input type="hidden" th:name="awayAttendanceByPlayerId[__${rowStat.index}__].jerseyNumber" th:value="${player.jerseyNumber}">
                                    </td>
                                    <td th:text="${player.jerseyNumber}"></td>
                                    <td th:text="${player.fullName}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="home_goals" class="game-feed-item">
                        <h2 th:text="${gamesheet.homeTeam} + ' Goals'"></h2>
                        <div th:if="${utils.collectionIsNotEmpty(gamesheet.homeGoals)}" class="table-container">
                            <table class="stats-table">
                                <thead>
                                <tr>
                                    <th>Goal Number</th>
                                    <th>Scorer</th>
                                    <th>Primary Assist</th>
                                    <th>Secondary Assist</th>
                                    <th>Goal Type</th>
                                    <th>Period</th>
                                    <th>Time</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="goal,rowStat : *{homeGoals}">
                                    <td th:text="${rowStat.count}"></td>
                                    <td>
                                        <input type="text" maxlength="2"  th:field="*{homeGoals[__${rowStat.index}__].scorer}" th:value="${goal.scorer}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{homeGoals[__${rowStat.index}__].assist1}" th:value="${goal.assist1}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{homeGoals[__${rowStat.index}__].assist2}" th:value="${goal.assist2}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <select th:field="*{homeGoals[__${rowStat.index}__].goalType}" th:disabled="${gamesheet.finalized}">
                                            <option th:each="type : ${goalTypes}"
                                                    th:value="${type}"
                                                    th:text="${type}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="1" th:field="*{homeGoals[__${rowStat.index}__].period}" th:value="${goal.period}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="5" th:field="*{homeGoals[__${rowStat.index}__].time}" th:value="${goal.time}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <button type="submit" name="removeGoal" th:disabled="${gamesheet.finalized}"
                                                th:value="'home-'+${rowStat.index}">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" name="save" th:if="${!gamesheet.finalized}">Update</button>
                        </div>
                    </div>
                    <div id="home_penalties" class="game-feed-item">
                        <h2 th:text="${gamesheet.homeTeam} + ' Penalties'"></h2>

                        <div th:if="${utils.collectionIsNotEmpty(gamesheet.homePenalties)}" class="table-container">
                            <table class="stats-table">
                                <thead>
                                <tr>
                                    <th>Penalty Number</th>
                                    <th>Player</th>
                                    <th>Minutes</th>
                                    <th>Infraction</th>
                                    <th>Period</th>
                                    <th>Time</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="penalty,rowStat : *{homePenalties}">
                                    <td th:text="${rowStat.count}"></td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{homePenalties[__${rowStat.index}__].jerseyNumber}" th:value="${penalty.jerseyNumber}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{homePenalties[__${rowStat.index}__].minutes}" th:value="${penalty.minutes}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="15" class="medium-input" th:field="*{homePenalties[__${rowStat.index}__].infraction}" th:value="${penalty.infraction}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="1" th:field="*{homePenalties[__${rowStat.index}__].period}" th:value="${penalty.period}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="5" th:field="*{homePenalties[__${rowStat.index}__].time}" th:value="${penalty.time}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <button type="submit" name="removePenalty" th:disabled="${gamesheet.finalized}"
                                                th:value="'home-'+${rowStat.index}">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" name="save" th:if="${!gamesheet.finalized}">Update</button>
                        </div>
                    </div>
                    <div id="away_goals" class="game-feed-item">
                        <h2 th:text="${gamesheet.awayTeam} + ' Goals'"></h2>
                        <div th:if="${utils.collectionIsNotEmpty(gamesheet.awayGoals)}" class="table-container">
                            <table class="stats-table">
                                <thead>
                                <tr>
                                    <th>Goal Number</th>
                                    <th>Scorer</th>
                                    <th>Primary Assist</th>
                                    <th>Secondary Assist</th>
                                    <th>Goal Type</th>
                                    <th>Period</th>
                                    <th>Time</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="goal,rowStat : *{awayGoals}">
                                    <td th:text="${rowStat.count}"></td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{awayGoals[__${rowStat.index}__].scorer}" th:value="${goal.scorer}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{awayGoals[__${rowStat.index}__].assist1}" th:value="${goal.assist1}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{awayGoals[__${rowStat.index}__].assist2}" th:value="${goal.assist2}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <select th:field="*{awayGoals[__${rowStat.index}__].goalType}" th:disabled="${gamesheet.finalized}">
                                            <option th:each="type : ${goalTypes}"
                                                    th:value="${type}"
                                                    th:text="${type}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="1" th:field="*{awayGoals[__${rowStat.index}__].period}" th:value="${goal.period}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="5" th:field="*{awayGoals[__${rowStat.index}__].time}" th:value="${goal.time}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <button type="submit" name="removeGoal" th:disabled="${gamesheet.finalized}"
                                                th:value="'away-'+${rowStat.index}">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" name="save" th:if="${!gamesheet.finalized}">Update</button>
                        </div>
                    </div>
                    <div id="away_penalties" class="game-feed-item">
                        <h2 th:text="${gamesheet.awayTeam} + ' Penalties'"></h2>
                        <div th:if="${utils.collectionIsNotEmpty(gamesheet.awayPenalties)}" class="table-container">
                            <table class="stats-table">
                                <thead>
                                <tr>
                                    <th>Penalty Number</th>
                                    <th>Player</th>
                                    <th>Minutes</th>
                                    <th>Infraction</th>
                                    <th>Period</th>
                                    <th>Time</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="penalty,rowStat : *{awayPenalties}">
                                    <td th:text="${rowStat.count}"></td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{awayPenalties[__${rowStat.index}__].jerseyNumber}" th:value="${penalty.jerseyNumber}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="2" th:field="*{awayPenalties[__${rowStat.index}__].minutes}" th:value="${penalty.minutes}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="15" class="medium-input" th:field="*{awayPenalties[__${rowStat.index}__].infraction}" th:value="${penalty.infraction}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="1" th:field="*{awayPenalties[__${rowStat.index}__].period}" th:value="${penalty.period}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="5" th:field="*{awayPenalties[__${rowStat.index}__].time}" th:value="${penalty.time}" th:disabled="${gamesheet.finalized}"/>
                                    </td>
                                    <td>
                                        <button type="submit" name="removePenalty" th:disabled="${gamesheet.finalized}"
                                                th:value="'away-'+${rowStat.index}">Delete</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" name="save" th:if="${!gamesheet.finalized}">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>