<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>MMHL</title>
    <link rel="icon" th:href="@{/assets/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/responsive.css}"/>
</head>
<body>
    <div th:replace="~{fragments/header.html :: header}"></div>
    <main class="content">
        <section class="hero">
            <h1 th:text="${year + ' ' + seasonType.getLabel() + ' Schedule'}"></h1>
        </section>
        <section class="centered downloadable">
            <form th:action="@{/api/schedule/printable}" method="get" class="team-filter-form">
                <select name="team-filter" id="team-filter" required>
                    <option value="ALL" selected>All Teams</option>
                    <option th:each="team : ${teams}" th:value="${team}" th:text="${team}"></option>
                </select>
                <input type="hidden" name="year" id="year" th:value="${year}"/>
                <input type="hidden" name="season-type" id="season-type" th:value="${seasonType}"/>
                <button type="submit">Download Printable Schedule</button>
            </form>
        </section>
        <section>
            <div class="upcoming-card spaced-card" th:each="gameDay : ${groupedSchedule}">
                <h2 class="game-date" th:text="${#temporals.format(gameDay.date, 'MMMM dd yyyy')}"></h2>
                <div class="schedule-card">
                    <div class="schedule-group" th:each="game : ${gameDay.games}">
                        <div class="schedule-game-time" th:text="${#temporals.format(game.startTime, 'hh:mm a')}"></div>
                        <div class="teams">
                            <div class="team">
                                <a th:href="@{/teams/{team}(team=${utils.stripSpaces(game.homeTeam)})}">
                                    <img th:src="@{'/assets/teamLogos/' + ${utils.stripSpaces(game.homeTeam)} + '.svg'}" alt="Home Logo" class="team-logo"/>
                                </a>
                                <span class="team-name centered" th:text="${game.homeTeam}"></span>
                                <span class="team-score centered" th:text="${game.homeScore}"></span>
                            </div>
                            <span class="vs">vs</span>
                            <div class="team">
                                <a th:href="@{/teams/{team}(team=${utils.stripSpaces(game.awayTeam)})}">
                                    <img th:src="@{'/assets/teamLogos/' + ${utils.stripSpaces(game.awayTeam)} + '.svg'}" alt="Away Logo" class="team-logo"/>
                                </a>
                                <span class="team-name centered" th:text="${game.awayTeam}"></span>
                                <span class="team-score centered" th:text="${game.awayScore}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>