<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>MMHL Stats</title>
    <link rel="icon" th:href="@{/assets/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/stats.css}" />
</head>
<body>
    <div th:replace="~{fragments/header.html :: header}"></div>
    <main class="content">
        <div class="stats-toggle-bar">
            <div class="stats-toggle">
                <a th:href="@{/stats/{playerType}(playerType='SKATERS', season-type=${request.seasonType().name()})}"
                   th:classappend="${request.playerType().name() == 'SKATERS'} ? 'active' : ''">Skaters</a>
                <a th:href="@{/stats/{playerType}(playerType='GOALIES', season-type=${request.seasonType().name()})}"
                   th:classappend="${request.playerType().name() == 'GOALIES'} ? 'active' : ''">Goalies</a>
            </div>
            <div class="stats-toggle season-toggle">
                <a th:href="@{/stats/{playerType}(playerType=${request.playerType().name()}, season-type='REGULAR_SEASON')}"
                   th:classappend="${request.seasonType().name() == 'REGULAR_SEASON'} ? 'active' : ''">Regular Season</a>
                <a th:href="@{/stats/{playerType}(playerType=${request.playerType().name()}, season-type='PLAYOFFS')}"
                   th:classappend="${request.seasonType().name() == 'PLAYOFFS'} ? 'active' : ''">Playoffs</a>
            </div>
        </div>
        <div th:if="${request.playerType().name() == 'SKATERS'}">
            <section class="hero">
                <h1 style="color: var(--text)">Player Statistics</h1>
            </section>
            <table class="stats-table">
                <thead>
                <tr>
                    <th class="shrink" ></th>
                    <th>Player</th>
                    <th>Team</th>
                    <th th:with="sortField='GAMES_PLAYED'">
                        GP
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='GOALS'">
                        G
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='ASSISTS'">
                        A
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='POINTS'">
                        P
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='POINTS_PER_GAME'">
                        PPG
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='PENALTY_MINUTES'">
                        PIM
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stat : ${playerStats}">
                    <td class="shrink" th:text="${stat.rank}"></td>
                    <td th:text="${stat.playerName}">Player Name</td>
                    <td th:text="${stat.teamName}">Team Name</td>
                    <td th:text="${stat.gamesPlayed}">0</td>
                    <td th:text="${stat.goals}">0</td>
                    <td th:text="${stat.assists}">0</td>
                    <td th:text="${stat.points}">0</td>
                    <td th:text="${stat.gamesPlayed > 0} ? ${#numbers.formatDecimal(stat.points * 1.0 / stat.gamesPlayed, 1, 2)} : '0.00'">0.00</td>
                    <td th:text="${stat.penaltyMinutes}">0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${request.playerType().name() == 'GOALIES'}">
            <h1 class="title">Goalie Statistics</h1>
            <table class="stats-table">
                <thead>
                <tr>
                    <th class="shrink"></th>
                    <th>Player</th>
                    <th>Team</th>
                    <th th:with="sortField='GAMES_PLAYED'">
                        GP
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='WINS'">
                        W
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='LOSSES'">
                        L
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='TIES'">
                        T
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='SHUTOUTS'">
                        SO
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='PENALTY_MINUTES'">
                        PIM
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='GOALS_AGAINST'">
                        GA
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                    <th th:with="sortField='GOALS_AGAINST_AVERAGE'">
                        GAA
                        <div th:replace="~{fragments/sort-arrow :: sortArrow(playerType=${request.playerType().name()}, sortField=${sortField}, sortOrder=${request.sortOrder().toString()}, requestSortField=${request.sortCategory().toString()}, seasonType=${request.seasonType().name()})}"></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stat : ${playerStats}">
                    <td class="shrink" th:text="${stat.rank}">0</td>
                    <td th:text="${stat.playerName}">Player Name</td>
                    <td th:text="${stat.teamName}">Team Name</td>
                    <td th:text="${stat.gamesPlayed}">0</td>
                    <td th:text="${stat.wins}">0</td>
                    <td th:text="${stat.losses}">0</td>
                    <td th:text="${stat.ties}">0</td>
                    <td th:text="${stat.shutouts}">0</td>
                    <td th:text="${stat.penaltyMinutes}">0</td>
                    <td th:text="${stat.goalsAgainst}">0</td>
                    <td th:text="${stat.gamesPlayed > 0} ? ${#numbers.formatDecimal(stat.goalsAgainst * 1.0 / stat.gamesPlayed, 1, 3)} : 'N/A'">0.00</td>
                </tr>
                </tbody>
            </table>
        </div>

    </main>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>