<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>MMHL Stats</title>
    <link rel="icon" th:href="@{/assets/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/stats.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/teams.css}" />
</head>
<body>
    <div th:replace="~{fragments/header.html :: header}"></div>
    <main class="content">
        <section class="hero">
            <h1 th:text="${teamData.teamName}"></h1>
        </section>
        <div class="teams" style="display: flex; flex-direction: row; gap: 2em;">
            <div class="team feed-item centered" style="display: flex; flex-direction: row; gap: 1.5em;">
                <img th:src="@{'/assets/teamLogos/' + ${utils.stripSpaces(teamData.teamName)} + '.svg'}" alt="Team Logo" class="large-logo"/>
                <div>
                    <h1 class="title">Roster</h1>
                    <table class="stats-table">
                        <thead>
                        <tr>
                            <th class="shrink">#</th>
                            <th>Player</th>
                            <th>Position</th>
                            <th>Draft</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="player : ${teamData.roster}" th:classappend="${player.isActive()} ? 'active-roster-assignment' : 'inactive-roster-assignment'">
                            <td class="shrink" th:text="${player.jerseyNumber}">0</td>
                            <td th:text="${player.fullName}"></td>
                            <td th:text="${player.position.getLabel()}"></td>
                            <td>
                                <span th:if="${player.rookie}" th:text="${player.draftPosition + ' *R'}"></span>
                                <span th:if="${!player.rookie}" th:text="${player.draftPosition}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <h1 class="title">Skater Statistics</h1>
            <table class="stats-table">
                <thead>
                <tr>
                    <th class="shrink" ></th>
                    <th>Player</th>
                    <th th:with="sortField='GAMES_PLAYED'">
                        GP
                    </th>
                    <th th:with="sortField='GOALS'">
                        G
                    </th>
                    <th th:with="sortField='ASSISTS'">
                        A
                    </th>
                    <th th:with="sortField='POINTS'">
                        P
                    </th>
                    <th th:with="sortField='POINTS_PER_GAME'">
                        PPG
                    </th>
                    <th th:with="sortField='PENALTY_MINUTES'">
                        PIM
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stat : ${teamData.playerStats}">
                    <td class="shrink" th:text="${stat.rank}"></td>
                    <td th:text="${stat.playerName}">Player Name</td>
                    <td th:text="${stat.gamesPlayed}">0</td>
                    <td th:text="${stat.goals}">0</td>
                    <td th:text="${stat.assists}">0</td>
                    <td th:text="${stat.points}">0</td>
                    <td th:text="${stat.gamesPlayed > 0} ? ${#numbers.formatDecimal(stat.points * 1.0 / stat.gamesPlayed, 1, 2)} : '0.00'">0.00</td>
                    <td th:text="${stat.penaltyMinutes}">0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h1 class="title">Goalie Statistics</h1>
            <table class="stats-table">
                <thead>
                <tr>
                    <th class="shrink"></th>
                    <th>Player</th>
                    <th th:with="sortField='GAMES_PLAYED'">
                        GP
                    </th>
                    <th th:with="sortField='WINS'">
                        W
                    </th>
                    <th th:with="sortField='LOSSES'">
                        L
                    </th>
                    <th th:with="sortField='TIES'">
                        T
                    </th>
                    <th th:with="sortField='SHUTOUTS'">
                        SO
                    </th>
                    <th th:with="sortField='PENALTY_MINUTES'">
                        PIM
                    </th>
                    <th th:with="sortField='GOALS_AGAINST'">
                        GA
                    </th>
                    <th th:with="sortField='GOALS_AGAINST_AVERAGE'">
                        GAA
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stat : ${teamData.goalieStats}">
                    <td class="shrink" th:text="${stat.rank}">0</td>
                    <td th:text="${stat.playerName}">Player Name</td>
                    <td th:text="${stat.gamesPlayed}">0</td>
                    <td th:text="${stat.wins}">0</td>
                    <td th:text="${stat.losses}">0</td>
                    <td th:text="${stat.ties}">0</td>
                    <td th:text="${stat.shutouts}">0</td>
                    <td th:text="${stat.penaltyMinutes}">0</td>
                    <td th:text="${stat.goalsAgainst}">0</td>
                    <td th:text="${stat.gamesPlayed > 0} ? ${#numbers.formatDecimal(stat.goalsAgainst * 1.0 / stat.gamesPlayed, 1, 3)} : 'N/A'">0.00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>